/* Header */
.header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 1910px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    

}
.header-title{
     width: 708px;
     color: #272727;
     font-size: 30px;
     font-weight: 200;
     margin: 200px 0 0 250px;
     font-family: 'Open Sans', sans-serif;
}
.some-text{
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0 20px 0;

}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
     gap: 10px;
     border-radius: 8px;
     background: #E55473;
     border: none;
     color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
#image{
    margin: 20px 180px 0 0;
}
              /* section-01 */
.Section{
    width: 1920px;
    height: 4867px;
    background: #FFF;
}
              
.section01-text{
    text-align: center;
    margin-top: 178px;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 25px;
    font-weight: 200;
}  
.item-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}   
.section01-image{
    display: flex;
    padding-left: 275px;
    
   
}  

.first{

    width: 310px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 20px;
   padding: 50px 50px 0 50px;
    
    
 
    

} 
.middle{
   
    width: 310px;
    height: 340px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 20px;
    padding: 130px 50px 50px 50px;



}
.end{
   
    width: 310px;
    height: 471px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
margin: 20px;
padding: 50px 50px 0 50px;
}  
.underline{
    display: flex;
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    font-family: 'Open Sans', sans-serif;

}
.flower-name1{
   margin: 0 0 0 370px;

}
.flower-name2{
    margin: 0 0 0 300px;

}
.flower-name3{
    margin: 0 0 0 310px;

}
    
                                /* section-02 */
.bonus{
    width: 1440px;
    height: 320px;border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: auto;
    margin-top: 127px;
    
}
.icons, .text-decorate{
    display: flex;
    
}
#decorate{
    margin: auto;
    margin-top: 86px;

}
.text-decorate{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
#line1{margin: 20px 0 0 130px;}
#line2{margin: 20px 0 0 220px;} 
#line3{margin: 20px 0 0 320px;}

                         /* Section-03 */

 .section03{
    
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;

 }
 .just-align{
    display: flex;
    justify-content: space-between; 
    

 }  
 .large-text{
    margin: 250px 0 0 425px;
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
 } 
 .small-text{
    margin: 20px 0 0 350px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
     font-size: 18px;
   font-weight: 350;
    line-height: 30px;
    display: flex;
   width: 594px;
   flex-direction: column;
   flex-shrink: 0;
 }
 .btn-primary2{
    margin: 30px 0 0 550px;
    text-align: center;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
   font-size: 20px;
   font-weight: 700;
   border-radius: 8px;
   background: #E55473;
   border: none;
 }   
 .section03-image{
    margin: 100px 450px 100px 0;
 }                  