/* Header */
.header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    

}
.header-title{
     width: 708px;
     color: #272727;
     font-size: 30px;
     font-weight: 200;
     margin: 200px 0 0 250px;
     font-family: 'Open Sans', sans-serif;
}
.some-text{
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0 20px 0;

}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
     gap: 10px;
     border-radius: 8px;
     background: #E55473;
     border: none;
     color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
#image{
    margin: 20px 180px 0 0;
}
              /* section-01 */
.Section-01{
    width: 1920px;
    height: 4867px;
    background: #FFF;
}
              
.section01-text{
    text-align: center;
    margin-top: 178px;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 25px;
    font-weight: 200;
}  
.item-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}   
.section01-image{
    display: flex;
    padding-left: 250px;
    
   
}  

.first{

    width: 310px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 20px;
   padding: 50px 50px 0 50px;
    
    
 
    

} 
.middle{
   
    width: 310px;
    height: 340px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 20px;
    padding: 130px 50px 50px 50px;



}
.end{
   
    width: 310px;
    height: 471px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
margin: 20px;
padding: 50px 50px 0 50px;
}  
.underline{
    display: flex;
    color: #272727;
    text-align: center;
font-size: 20px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.flower-name1{
   margin: 0 0 0 370px;

}
.flower-name2{
    margin: 0 0 0 300px;

}
.flower-name3{
    margin: 0 0 0 310px;

}
    
   